/*------------------------------------------------------------------
[Master Stylesheet]

Primary use:    covid-home.css used to style home-page for COVID-19
                Research Guidance
-------------------------------------------------------------------*/

#ualbany-only-logo{
    width: 125px;
}

#suny-logo{
    width: 150px;
}

#suny-rf-logo{
    width: 200px;
}

.image-container{
    float: left;
    margin-bottom: 10px;
}

.image-container > img{
    margin-right: 10px;
    margin-top: -10px;
}

.padded-list{
    margin-left: 10px;
    margin-bottom: 20px;
}
